body,
html {
	height: 100%;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}
.titleBox {
	padding-top: 70px;
	background-color: rgba(139, 223, 226, 0.3);
}
.titleFont {
	font-size: 100px;
	color: white;
	text-align: center;
}
