body,
html {
	height: 100%;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}
body {
	background-color: rgb(40, 98, 121);
	/* background-image: url("https://previews.123rf.com/images/leaf/leaf0807/leaf080700018/3277639-a-bubbling-water-background-abstract.jpg"); */
	/*  */
	background-size: cover;
}
.parallax {
	/* The image used */
	background-image: url("https://www.outsideonline.com/sites/default/files/styles/width_1200/public/2020/01/15/yosemite-valley-camping_h.jpg?itok=ESbpZ02R");
	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 30px;
}

.paragraph {
	background-image: url("https://sammerkins.github.io/Project/English/Photos/stars2.jpg");
}
