header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #157e89;
	text-align: center;
	vertical-align: middle;
}
#headingcolor2 {
	background-color: #3b2b10;
}
h1 {
	font-size: 70px;
}
h2.title {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
body {
	background-color: #157e89;
}
p,
ul.keyformat {
	background-color: white;
	opacity: 0.5;
	padding-left: 5px;
	font-size: 32px;
}
h2.keyformat {
	font-size: 80px;
}
.keyformat {
	padding-left: 20px;
}

#3dModelBox {
	padding: 20px;
}

#titlekey {
	font-size: 100px;
}
h1,
h2,
h3 {
	font-family: "Philosopher", sans-serif;
	color: white;
}
p,
ol,
ul {
	font-family: "Spartan", sans-serif;
}
