header {
	padding-top: 0.8%;
	padding-bottom: 1%;
	background-color: #157e89;
	text-align: center;
	vertical-align: middle;
}
.centered {
	text-align: center;
	vertical-align: middle;
}
#headingcolor2 {
	margin-top: 20px;
	background-color: #3b2b10;
}
h1 {
	font-size: 70px;
}
h2.title {
	font-size: 45px;
}
h2 {
	font-size: 40px;
}
body {
	background-color: #157e89;
}
p.BaseFormat,
ul.BaseFormat,
ol.BaseFormat {
	background-color: white;
	opacity: 0.5;
	padding-left: 5px;
	font-size: 32px;
}
h2.BaseFormat {
	font-size: 60px;
}
.BaseFormat {
	padding-left: 20px;
}

#ModelBox {
	padding: 20px;
}

#titlekey {
	font-size: 100px;
}
h1,
h2,
h3,
h4 {
	font-family: "Philosopher", sans-serif;
	color: white;
}
p,
ol,
ul {
	font-family: "Spartan", sans-serif;
}
.padded {
	padding-top: 45px;
}
.sm-padded {
	padding-top: 0.5%;
}
.photoExplantion {
	font-size: 20px;
	color: white;
}
.ListFormat {
	justify-content: center;
	align-content: left;
	text-align: left;
	background-color: white;
	opacity: 0.5;
}
#PhaseList {
	margin-top: 100px;
	padding: 100px, 50px;
	font-size: 32px;
	list-style: circle;
	flex-direction: column;
}
#ImportantInfo {
	font-size: 40px;
	list-style: circle;
}
.coffeeImage {
	padding-top: 80px;
	padding-right: 20px;
	padding-left: 100px;
}
.worksCited {
	padding-left: 100px;
	text-indent: -22px;
}
#titleFooter {
	color: black;
	padding-left: 30px;
}
#lastpadding {
	padding-right: 20 px;
	padding-bottom: 100px;
}
.margin {
	margin-top: 80px;
	padding-top: 20px;
}
